@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questões Web</h1>
    <p class="lead">Sistema para visualização e resolução de questões de prova.</p>
    <hr />
    <div class="d-flex gap-3 justify-content-center">
        <a asp-controller="Questoes" asp-action="Index" asp-route-ordem="1" class="btn btn-primary btn-lg">
            Iniciar Questões
        </a>
        <a asp-controller="Questoes" asp-action="Index" asp-route-aleatorio="true" asp-route-indice="0" class="btn btn-outline-primary btn-lg">
            Modo Aleatório
        </a>
    </div>
</div>